p{
    color: #eeeeee;
   
}
header{
    background-color: #eeeeee;
    padding: 10px 0 4px;
    margin: 10px;
    padding: 10px 0;
    box-shadow: 8px 11px 20px #757676;
}
*{
    box-sizing: border-box;
    
}
body{
    background-color: #1e1e1e;
    font-family: 'Literata', serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #eeeeee;
}

/*links again*/

a:visited{
   color: purple; 
}

a:hover{
    color:#74beff;
}

a:focus{
    color:#74beff;
}

a:active{
    color:#0062e3;
}

/* h designs*/

h1, h2, h3, h4{
    line-height: 1.4;
}
h1{
    font-size: 36px;
    font-weight: 700;
}
h2{
    font-size: 32px;
    font-weight: 700;
}
h3{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: #eeeeee;
    padding: 30px 30px 30px 30px;
}


/* img for site*/

img{
    width: 100%;
    padding: 0 50px;
    border-radius: 50px;
}

/* buttons*/

.button.contact{
    background-color: #187cff;
    color:#eeeeee;
    text-transform: uppercase;
    border-bottom:2px solid #eeeeee;
    transition: 0.2s opacity;
    transition-property: opacity;
    
}
.button{
    display: inline-block;
    background-color: #eeeeee;
    color: #187cff;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #187cff;
    transition: 0.2s opacity;
    transition-property: opacity;

}
.button.contact :hover{
background-color: #eeeeee;
color: #187cff;
}
.button :hover{
    opacity: 0.8;
    text-decoration: none;
}
.button :focus{
    opacity: 0.8;
    text-decoration: underline;
}
.button :active{
    color:#2298ff;
}

/*layout styling*/

.container{
    padding: 0 15px;
    text-align: center;
}
.row{
    margin: 25px 0;
}
.row h3{
    text-align: left;
    margin: 0 0;
    padding: 0 0;
}
#hero{
    background-color: #eeeeee;
    color: #1e1e1e;
    padding: 20px 0;
    display: inline-block;
    width: 100%;

}
#hero h1{
    text-align: center;
    color: #1e1e1e;
    margin: 0;
    padding: .67em 0;

}

.logo{
    max-width: 150px;
}


li{
    list-style: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #1e1e1e;

}

/* media queiries*/

/* small device*/

@media only screen and (max-width: 375px){


}


/* medium device*/
@media only screen and (max-width: 641px){

    nav > ul > li{
        display: inline-block;
        padding: 0;
        margin: 1em 0;
    }

    header{
        text-align: unset;
        padding: 20px 0 13px;
    }

    .logo{
        min-width: 250px;
    }

    nav{
        width: auto;
        float: right;
        margin-top: -15px;
    }

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #eeeeee;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    
    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;

    }


    body{
        font-size: 21;
    }
    #hero span{
        display: block;
    }
    .col-md-6{
        width: 50%;
    }

    #about-page h3{
        margin-top: 0;
    
    }

}
/* Large device*/
@media only screen and (min-width: 1042px){
.col-lg-7{
    width: 58.33%;
}
.col-lg-5{
    width: 41.66%;
}

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
header{
    text-align: unset;
    padding: 40px 0 -20px 40px;
}

.logo{
    max-width: 400px;
}


nav{
    width: auto;
    float: right;
    margin-top: -5px;
}
body{
    font-size: 24;
}
#hero{
    background-color: #eeeeee;
    color: #1e1e1e;
    padding: 0;
    display: block;
    width: 100%;

}
#about-page h3{
    margin-top: 0;

}


}

/* X-Large device*/

@media only screen and (mind-width: 1440px){


}
[class*="col-"]{
    float: left;
    padding: 10px;
}



/* animation */

.saturn {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

@keyframes color-change {
    0% {fill: #ed5555;}
    50% {fill: #d6db42;}
    100% {fill: #ff5900;}
  }